/* Seletor body(o mesmo que tag) */
body{
    /*
    Modos de declarar cores. No caso estamos declarando a cor do fundo do site.

    background-color: rgb(128,250,108);
    background-color: #80FA6C;
    background-color: "nome da cor";

    Obs.: Você pode escolher menos que 6 algoritmos no HEX, mas resultara numa cor menos precisa (com nome da cor também é menos preciso).
    */

    /*
    Trabalhando com imagens no CSS

    background-image: url(../Imagens/branquelas.jpeg); ---> Puxando a imagem
    background-position: center; --> Posicao da imagem
    background-repeat: no-repeat; --> Impedir que repita a iamgem para preencher
    background-size: cover; --> Tamanho da imagem
    */
    background-color: #1A1A1A;
    margin: 1% 3% 0% 3%; /* [topo, direita, baixo, esquerda]Tambem pode ser descrito em px. Margem: tudo que está fora da página em relação a outros elementos na página*/
    padding: 0; /* Preenchimento: Quando queremos olhar para dentro da pagina, em relação as "paredes" do elemento.*/
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: lighter;
}

/* Simbolo de ID é o #*/

#paginaInicial{
    border: 2px solid #ffffff;
    background-color: #2B2B2B;
    padding: 3% 5% 3% 5%;
    color: #ffffff;
}

#paginaInicial h1, h4{
    padding-left: 5%;
    width: 50%;
    height: 10%;
    padding-top: 0px;
}

#cartaz ul{
    list-style: none;
    border: 2px solid #ffffff;
    background-color: #328181;
    text-align: right;
    padding: 2%;
}

#cartaz ul li{
    font-weight: bold;
    color: #ffffff;
    background-color: #809999;
    display: inline;
    margin: 5%;
    padding: 20px;
    border: 2px inset #328181;
    text-align: right;
}

#cartaz a{
    text-decoration: none;
}

#capa{
    width: 100%;
    height: 80%;
}

#sobre{
    padding: 3% 5% 3% 5%;
    background-color: #2B2B2B;
    text-align: justify;
    color: #ffffff;
}
#history{
    border: 2px solid #328181;
    text-align: left;
    padding: 2%;
    margin: 0;
}
.banner{
    width: 30%;
    height: 100%;
    text-align: center;
}
.grid-container{
    text-align: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

#emAlta{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

#tituloItem1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#imgItem1{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#tituloItem2{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
#imgItem2{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#tituloItem3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
#imgItem3{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#tituloItem4{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
#imgItem4{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#tituloItem5{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#imgItem5{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

#tituloItem6{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
#imgItem6{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

#tituloItem7{
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}
#imgItem7{
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 6;
}

#tituloItem8{
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}
#imgItem8{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}

#tituloItem9{
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}
#imgItem9{
    grid-column-start: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

#tituloItem10{
    grid-column-start: 1;
    grid-row-start: 7;
    grid-row-end: 7;
}
#imgItem10{
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 8;
}

#tituloItem11{
    grid-column-start: 2;
    grid-row-start: 7;
    grid-row-end: 7;
}
#imgItem11{
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 8;
}

#tituloItem12{
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row-end: 7;
}
#imgItem12{
    grid-column-start: 3;
    grid-row-start: 8;
    grid-row-end: 8;
}

#tituloItem1, #tituloItem2, #tituloItem3, #tituloItem4, #tituloItem5, #tituloItem6, #tituloItem7, #tituloItem8, #tituloItem9{
} 

#imgItem1, #imgItem2, #imgItem3, #imgItem4, #imgItem5, #imgItem6, #imgItem7, #imgItem8, #imgItem9{
} 

.grid-container-curiosidades{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border: 2px solid white;
    background-color: #1A1A1A;
}

#curiosidade1, #curiosidade2, #curiosidade3, #curiosidade4, #curiosidade5{
    text-align:justify;
    padding: 5%;
}

.video{
    width: 50%;
    height: 50%;
    padding-left: 25% ;
}

#paragrafoCuriosidade1{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#paragrafoCuriosidade2{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#paragrafoCuriosidade3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 8%;
}

#paragrafoCuriosidade4{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#paragrafoCuriosidade5{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#tituloCuriosidades{
    text-align: center;
    font-size: 30px;
}